@import "../../../themes-toolkit";

#app {
  background-color: $dark-colors-bg;
  color: $dark-colors-fg;
  text-decoration: none;
  font-style: normal;

  hr.section-separator {
    background-color: #aaa;
    box-shadow: #aaa 0 0 1px;
    border: 0;
  }
}

#content {
  a:focus, a:active {
    color: $dark-colors-focus-fg;
    border: none;
    outline: none;
    text-decoration: underline;
  }

  a {
    color: $dark-colors-link-fg;

    &:hover {
      color: $dark-colors-accent-fg;
    }
  }
}