#menu-wrapper {
  header.menu-home a {
    display: block;
    width: 100%;
    margin: 0.7rem;
    padding: 0.7rem;
    box-sizing: border-box;
  }

  header.menu-home h1 {
    font-size: 1.2rem;
  }
}