@import "../../grid";

#menu-wrapper {
  @include cols;
  @include middle;

  #menu-container {
    @include auto-col;
    @include shrinks;
    @include rows;
    height: 100%;
    width: 100%;

    #main-menu {
      @include auto-row;
      @include shrinks;

      li {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      #navigation-menu {
        a {
          display: block;
          padding: 1rem 2rem;
          box-sizing: border-box;
        }
      }

      #contacts-menu {
        @include cols;
        @include center;
        @include justify-content(space-around);

        li {
          @include flex-basis(33%);
          box-sizing: border-box;

          a {
            display: block;
            margin: 0 0.25rem;
            padding: 0.7rem 0;
          }
        }
      }

      & > hr {
        width: 70%;
        max-width: 70%;
        height: 1px;
        max-height: 1px;
        margin: 1.5rem auto;
      }
    }
  }

  header.menu-home .menu-toggle-button {
    display: none;
  }

  #theme-menu {
    @include middle;
    @include around;
    @include cols;

    span {
      @include auto-col;

      padding: 1rem;
    }
    margin-bottom: 1rem;
  }
}
