html {
  font-family: "Hasklig", "Source Code Pro", "Arial", sans-serif;
  font-size: 18px;
}

a, a:visited {
  color: inherit;
  background-color: inherit;
  text-decoration: inherit;
  font-style: inherit;
}

h1 { font-size: 1.7rem }
h2 { font-size: 1.575rem }
h3 { font-size: 1.45rem }
h4 { font-size: 1.325rem }
h5 { font-size: 1.2rem }

* {
  $transition-duration: 100ms;

  transition: background-color $transition-duration ease-in, color $transition-duration ease-in;
}