$dark: "#dark:checked ~ #app-wrapper";
$light: "#light:checked ~ #app-wrapper";

$dark-colors-accent-fg: #d7d7f7;
$dark-colors-focus-fg: #a7f7f7;
$dark-colors-active-fg: #b7b7f7;
$dark-colors-fg: #e7e7e7;
$dark-colors-bg: #3c3c3c;
$dark-colors-separator: #aaaaaa;

$light-colors-accent-fg: #3c7c3c;
$light-colors-focus-fg: #4c8c8c;
$light-colors-active-fg: #2c9c2c;
$light-colors-bg: #e7e7e7;
$light-colors-fg: #2c2c2c;
$light-colors-separator: #333333;