$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "../../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../../../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../../../../node_modules/@fortawesome/fontawesome-free/scss/solid";


@mixin brand-icon($code) {
  @extend %fa-icon;
  @extend .fab;
  &:before {
    content: fa-content($code);
  }
}

@mixin standard-icon($code) {
  @extend %fa-icon;
  @extend .fas;

  &:before {
    content: fa-content($code);
  }
}
