@import "../../themes-toolkit";

#menu-container {
  hr {
    background-color: #aaa;
    box-shadow: #aaa 0 0 1px;
  }

  li, h1, header.menu-home label {
    &:hover {
      color: $dark-colors-accent-fg;
    }

    a:focus, a:active {
      color: $dark-colors-focus-fg;
      border: none;
      outline: none;
      text-decoration: underline;
    }
  }

  #navigation-menu {
    .menu-selected {
      color: $dark-colors-active-fg;

      &:hover {
        color: $dark-colors-accent-fg;

        a:hover {
          color: $dark-colors-accent-fg;
        }
      }
    }
  }

  #theme-menu {
    span:hover {
      color: $dark-colors-accent-fg !important;
    }

    #choose-darkness {
      color: $dark-colors-active-fg;
    }
  }
}

#menu-wrapper hr {
  background-color: $dark-colors-separator;
  box-shadow: $dark-colors-separator 0 0 1px;
}