@import "../../themes-toolkit";

#menu-container {
  hr {
    background-color: #aaa;
    box-shadow: #aaa 0 0 1px;
  }

  li, h1 {
    &:hover, a:hover, header.menu-home label {
      color: $light-colors-accent-fg;
    }

    a:focus, a:active {
      color: $light-colors-focus-fg;
      text-decoration: underline;
      border: none;
      outline: none;
    }
  }

  #navigation-menu {
    .menu-selected {
      color: $light-colors-active-fg;

      &:hover, a:hover {
        color: $light-colors-accent-fg;
      }
    }
  }

  #theme-menu {
    span:hover {
      color: $light-colors-accent-fg !important;
    }

    #choose-light {
      color: $light-colors-active-fg;
    }
  }
}

#menu-wrapper hr {
  background-color: $light-colors-separator;
  box-shadow: $light-colors-separator 0 0 1px;
}